IDI_ICON1               ICON    DISCARDABLE     "5sync.ico"

#include <windows.h>

VS_VERSION_INFO     VERSIONINFO
FILEVERSION         1, 0, 0, 0
PRODUCTVERSION      1, 0, 0, 0
FILEFLAGSMASK       0x3fL
FILEFLAGS           0
FILEOS              VOS_NT_WINDOWS32
FILETYPE            VFT_APP
FILESUBTYPE         VFT2_UNKNOWN
BEGIN
    BLOCK   "VarFileInfo"
    BEGIN
        VALUE   "Translation",  0x0409,  1200
    END
    BLOCK   "StringFileInfo"
    BEGIN
        BLOCK   "040904b0"
        BEGIN
            VALUE   "CompanyName",      "Syping"
            VALUE   "FileDescription",  "Grand Theft Auto V Sync\0"
            VALUE   "FileVersion",      "1.0.0.0\0"
            VALUE   "InternalName",     "gta5sync\0"
            VALUE   "LegalCopyright",   "Copyright © 2015-2016 Syping\0"
            VALUE   "OriginalFilename", "gta5sync.exe\0"
            VALUE   "ProductName",      "Grand Theft Auto V Sync\0"
            VALUE   "ProductVersion",   "1.0.0.0\0"
        END
    END
END
