[Desktop Entry]
Type=Application
Name=gta5view
Comment=Open and edit GTA V profiles
Comment[de]=GTA V Profile öffnen und bearbeiten
Categories=Qt;Utility;
Exec=gta5view
Icon=de.syping.gta5view
Terminal=false
StartupNotify=false
