[Desktop Entry]
Type=Application
Name=gta5view
Comment=Open and edit GTA V profiles
Comment[de]=GTA V Profile öffnen und bearbeiten
Comment[ru]=Просмотрщик и редактор профилей GTA V
Comment[zh_TW]=打開與編輯 GTA V 個人檔案
Categories=Qt;Utility;FileTools;
TryExec=gta5view
Exec=gta5view %f
Icon=de.syping.gta5view
MimeType=application/x-gta5view-export;
