[Desktop Entry]
Version=PKGAPP_VER
Encoding=UTF-8
Type=Application
Name=gta5view
Comment=Open and edit GTA V profiles
Comment[de]=GTA V Profile öffnen und bearbeiten
Categories=Qt;Application;Utility;
Exec=gta5view
Icon=gta5view
Terminal=false
StartupNotify=false
